body {
	padding: 10px 20px;
}


h1 {
	text-align: center;
}
em {
	font-weight: bold;
}
.m-top-10 {
	margin-top: 10px;
}
.m-bottom-10 {
	margin-bottom: 10px;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	margin: 0;
}
.responsive-image {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 600px){
	* {
		padding: 5px 5px 5px 5px;
	}
	h1 {
		font-size: 1.5em;
	}
	em {
		margin-bottom: 10px;
	}
	ol {
		padding: 5px 5px 5px 15px;
	}	
	.container {
		/* width: 120%; */
		margin: 0 auto;

	}
	.responsive-image {
		width: 100%;
		height: auto;
		padding: 0 20px 0 20px;
	}
}